@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Cairo|Jua|Noto+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#main {
    background-color: #eee;
}

a {
    text-decoration: none !important;
}

header {
    height: 100px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

header > .logo {
    font-size: 30px;
}

header > .icon-var {
    font-size: 30px;
}

header > .icon-var > span {
    margin-right: 10px;
    cursor: pointer;
}

.slider {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -100%;
}

.slide-image > .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 0;
    left: 0;
}

.slide-image > .slide-content {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide-content > h1 {
    color: #fff;
    z-index: 10;
}

.slide-content > p {
    color: #fff;
    z-index: 10;
}

.indicator > ul {
    list-style: none;
    height: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.indicator > ul > li {
    background-color: #ddd;
    transition: all 0.8s;
}

.indicator > ul > li.active {
    background-color: rgba(255, 30, 30, 0.5);
}
.slider > .btn-div {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 20;
}

#editorPick {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 35px;
}

#editorPick > .item {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.img-box {
    width: 100%;
    height: 280px;
}

.img-box > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-box {
    width: 100%;
    flex: 1;
    padding: 8px 12px;
}

footer {
    margin-top: 50px;
    background-color: rgba(100, 100, 100, 1);
    height: 80px;
    text-align: center;
}

footer p {
    font-size: 20px;
    line-height: 80px;
    color: white;
}
#submenu {
    width: 200px;
    padding: 10px 18px;
    position: fixed;
    right: -200px;
    top: 0;
    height: 100%;
    background-color: white;
    z-index: 30;
    transition: all 0.5s;
}

#submenu.active {
    right: 0;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

#toastList {
    position: fixed;
    width: 400px;
    height: auto;
    bottom: 20px;
    right: 20px;
}

.my-toast {
    border-radius: 0.3rem;
    margin-bottom: 10px;
}

.my-toast > .content {
    color: #fff;
    padding: 8px 12px;
    min-height: 60px;
    display: flex !important;
    align-items: center;
}

.loginbox {
    line-height: 40px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #45d9fd;
    transition: all 0.2s;
}

.loginbox:hover {
    background-color: #45d9fd;
    color: white;
}

.logoutbox {
    position: absolute;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #45d9fd;
    transition: all 0.2s;
}

.logoutbox:hover {
    background-color: #45d9fd;
    color: white;
}

.postbox {
    position: absolute;
    line-height: 20px;
    text-align: center;
    margin-top: 60px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #45d9fd;
    transition: all 0.2s;
}

.postbox:hover {
    background-color: #45d9fd;
    color: white;
}

.box {
    padding: 20px;
    width: 30%;
    height: 35vh;
    transform: translate(-50%,-50%);
    margin-top: 15%;
    margin-left: 50%;
    text-align: center;
    background-color: #dddfe6;
    border-radius: 20px;
    font-family: 'Cairo', sans-serif;
}

.box > h2 {
    margin-bottom: 20px;
}

.box > ul > li {
    width: 100%;
    height: 50px;
}

.box > ul > li > input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    padding: 18px 19px 19px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.box > ul > li:first-child > input {
    border-radius: 0.5rem 0.5rem 0 0;
}

.box > ul > li:nth-child(2) > input {
    border-radius: 0 0 0.5rem 0.5rem;
}

.box > ul > li:last-child > input {
    border-radius: 0.5rem;
    padding: 0;
    margin-top: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: 1px solid transparent;
}

.wraper {
    transform: translate(-50%,-50%);
    margin-top: 20%;
    margin-left: 50%;
    width: 60%;
    height: 400px;
}

.boardtitle {
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #a5dff9;
    border-radius: 20px 20px 0 0;
    line-height: 50px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 25px;
}

.board {
    padding: 20px;
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: #F8F8FF;
    border-radius: 0 20px 20px 20px;
}

.title {
    font-size: 25PX;
    padding: 18px 19px 19px;
    border-radius: 20px;
    width: 90%;
    height: 15px;
    border: 1px solid transparent;
    font-family: 'Noto Sans KR', sans-serif;
}

.contents {
    font-size: 15PX;
    border: 1px solid transparent;
    padding: 18px 19px 19px;
    border-radius: 20px;
    margin-top: 20px;
    width: 90%;
    height: 60%;
    font-family: 'Jua', sans-serif;
}